<mat-toolbar class="topbar horizontal-topbar">
  <div class="container">
    <div class="d-none d-sm-flex">
      <app-branding></app-branding>
    </div>

    <!-- Mobile Menu -->
    <button
    mat-mini-fab
    color="inherit"
      (click)="toggleMobileNav.emit()"
      class="d-block d-lg-none"
    >
    <i
    class="iconify icon-20 d-flex"
    data-icon="solar:hamburger-menu-line-duotone"
  ></i>
    </button>
    <!-- --------------------------------------------------------------- -->

    <!-- --------------------------------------------------------------- -->
    <!--  Search -->
    <!-- --------------------------------------------------------------- -->
    <button mat-mini-fab
    color="inherit" (click)="openDialog()" class="d-flex">
    <i class="iconify icon-20 d-flex" data-icon="solar:magnifer-outline"></i>
    </button>

    <div class="d-none d-lg-flex">
      <!-- --------------------------------------------------------------- -->
      <!--  Links -->
      <!-- --------------------------------------------------------------- -->
      <button
      mat-mini-fab
      color="inherit"
      [matMenuTriggerFor]="appsmenu"
      aria-label="Notifications"
      class="d-flex justify-content-center"
    >
    <i
    class="iconify icon-20 d-flex"
    data-icon="solar:widget-3-line-duotone"
  ></i>
    </button>
    <mat-menu #appsmenu="matMenu" class="apps-dd cardWithShadow">
      <div class="row">
        <div class="col-sm-8 p-r-0">
          <div class="p-32 p-b-0">
            <div class="row">
              @for(appdd of apps; track appdd.title) {
              <div class="col-sm-6 text-hover-primary">
                <a
                  [routerLink]="[appdd.link]"
                  class="d-flex align-items-center text-decoration-none m-b-24"
                >
                  <span
                    class="text-{{ appdd.color }} bg-light-{{
                      appdd.color
                    }} rounded icon-48 d-flex align-items-center justify-content-center"
                  >
                  <span
                  class="iconify icon-20"
                  [attr.data-icon]="appdd.icon"
                ></span>
                  </span>

                  <div class="m-l-16">
                    <h5
                      class="f-s-15 f-w-600 m-0 textprimary mat-subtitle-1 hover-text"
                    >
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-13">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <img
            src="assets/images/backgrounds/mega-dd-bg.jpg"
            alt="mega-dd-bg"
            class="mega-dd-bg"
          />
        </div>
      </div>
    </mat-menu>
    </div>

    <span class="flex-1-auto"></span>

    <button mat-mini-fab color="inherit" aria-label="lightdark" class="d-flex justify-content-center" (click)="setDark()">
      <i-tabler class="d-flex icon-22" [name]="options.theme === 'dark'? 'sun': 'moon'"></i-tabler>
    </button>

    <!-- Mobile Menu -->
    <button
    mat-mini-fab
    color="inherit"
      (click)="toggleMobileFilterNav.emit()"
      class="d-flex d-lg-none justify-content-center"
    >
    <i
    class="iconify icon-20 d-flex"
    data-icon="solar:widget-3-line-duotone"
  ></i>
    </button>

    <!-- --------------------------------------------------------------- -->
    <!-- langugage Dropdown -->
    <!-- --------------------------------------------------------------- -->
    

    <!-- --------------------------------------------------------------- -->
    <!-- Notification Dropdown -->
    <!-- --------------------------------------------------------------- -->
   

    <!-- --------------------------------------------------------------- -->
    <!-- profile Dropdown -->
    <!-- --------------------------------------------------------------- -->
    <button
      mat-fab
      extended
      color="inherit"
      [matMenuTriggerFor]="profilemenu"
      aria-label="Notifications"
      class="d-flex justify-content-center profile-btn-dd"
    >
      <div class="d-flex align-items-center gap-4">
        <img
          src="assets/images/profile/user-1.jpg"
          class="rounded-circle object-cover icon-35 profile-dd"
          width="35"
        />

        <i data-icon="solar:alt-arrow-down-bold" class="iconify f-s-8"></i>
      </div>
    </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow" xPosition="before">
    <div class="p-x-32 p-y-16">
      <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
        <img
          src="assets/images/profile/user-1.jpg"
          class="rounded-circle"
          width="56"
        />
        <div class="m-l-16">
          <h6
            class="f-s-14 f-w-600 m-0 mat-subtitle-1 d-flex align-items-center"
          >
            {{userName}}
            <!-- <span class="f-s-14 d-block text-success m-l-4">Pro</span> -->
          </h6>
          <span> {{email}} </span>
          <span > Balance ${{balance}} </span>
        </div>
      </div>
    </div>
    <div class="p-x-32 p-b-16">
      @for(profile of profiledd; track profile.title) {
      <a
        class="p-8 text-decoration-none d-block text-hover-primary"
        [routerLink]="[profile.link]"
      >
        <div class="d-flex align-items-center">
          <h5 class="f-s-14 f-w-600 m-0 textprimary mat-subtitle-1 hover-text">
            {{ profile.title }}
          </h5>
          @if(profile.new) {
          <span class="bg-light-error text-error rounded-sm p-x-8 p-y-4 f-w-500 f-s-12 m-l-4"
            >5</span
          >
          }
        </div>
      </a>
      }
    </div>
  </mat-menu>
  </div>
</mat-toolbar>
